// Global variable declaration
$primary__color: #ffbe00;
$font__color: #fafafa;
$dark__font__color: #999999;
$onheader__color: #a2a2ab;
$header__color: #010e1e;
$background__color: #000509;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.clear-float {
  clear: both;
}
.primary-element {
  color: $primary__color;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.router-link-exact-active li svg {
  color: $primary__color !important;
}
.router-link-exact-active .description {
  color: $primary__color;
}

.view-container {
  width: calc(100% - 115px);
  margin-left: 70px;
  margin-right: 45px;
  color: $font__color;
}

@media screen and (max-width: 580px) {
  .view-container {
    width: auto;
    margin: 70px 0 80px 0;
    color: $font__color;
    padding: 0 50px;
  }
}

//ruberband animation for chars

span.letter {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  cursor: default;
}

span.letter:hover {
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
